*{
	padding: 0;
	margin: 0;
	border: 0;
}

header{
    text-align: center;
    padding: 2%;
    background-color: darkgray;
}

.title{
    font-size: 36pt ;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 0.25%;
}

.desc{
    margin-left: 5%;
    margin-right: 5%
}

footer{
    position: fixed; 
    width: 100%; 
    bottom: 0; 
    height: auto; 
    background:rgb(211, 211, 211);
    text-align: end;
}

.github_link{
    padding: 1%;
}
